# -----------------------------
# Data
# -----------------------------
*.db
*.csv
data/

# -----------------------------
# Python virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Project-specific
# -----------------------------
*project_guideline.txt