# Databases and raw data tracks
*.db
*.csv
data/

# OS-specific files
*.DS_Store
Thumbs.db

# Project logs, documentation notes, and guidelines
*.txt

# Local IDE configuration/Extensions
.vscode/
.idea/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/.ipynb_checkpoints/
**/.ipynb_checkpoints/
src/.ipynb_checkpoints/
outputs/.ipynb_checkpoints/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
src/.ipynb_checkpoints/
outputs/.ipynb_checkpoints/
